{
    "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomRight",
      "offset" : [-6, 0],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileBody" : "/interface/wedit/techLoader/bg.png?multiply=FFFFFF00"
    },
    "body" : {
      "type" : "image",
      "zlevel" : -1,
      "position": [0, 0],
      "file" : "/interface/wedit/techLoader/bg.png"
    },
    "label" : {
      "type" : "label",
      "position" : [77, 29],
      "hAnchor" : "mid",
      "value" : "WEdit requires the ^cyan;dash^reset; tech.\nEquip it?"
    },
    "btnDash" : {
      "type" : "button",
      "position" : [3, 10],
      "pressedOffset" : [0, -1],
      "caption" : "     Equip",
      "zlevel" : 3,
      "base" : "/interface/wedit/techLoader/dash.png",
      "hover" : "/interface/wedit/techLoader/dash.png?brightness=20",
      "pressed" : "/interface/wedit/techLoader/dash.png?brightness=20",
      "callback" : "techLoader.equipTech"
    },
    "btnDismiss" : {
      "type" : "button",
      "position" : [53, 10],
      "pressedOffset" : [0, -1],
      "caption" : "Dismiss",
      "zlevel" : 2,
      "base" : "/interface/wedit/techLoader/button.png",
      "hover" : "/interface/wedit/techLoader/button.png?brightness=20",
      "pressed" : "/interface/wedit/techLoader/button.png?brightness=20",
      "callback" : "techLoader.dismiss"
    },
    "btnIgnore" : {
      "type" : "button",
      "position" : [103, 10],
      "pressedOffset" : [0, -1],
      "caption" : "Ignore",
      "zlevel" : 1,
      "base" : "/interface/wedit/techLoader/button.png",
      "hover" : "/interface/wedit/techLoader/button.png?brightness=20",
      "pressed" : "/interface/wedit/techLoader/button.png?brightness=20",
      "callback" : "techLoader.ignore"
    }
  },

  "scrollWidgets" : [
    "body",
    "label",
    "btnDash",
    "btnIgnore",
    "btnDismiss"
  ],
  "scrollOffset" : [0,-50],

  "scriptWidgetCallbacks" : [
    "techLoader.equipTech",
    "techLoader.dismiss",
    "techLoader.ignore"
  ],

  "scripts" : ["/interface/wedit/techLoader/techLoader.lua"],
  "scriptDelta" : 1
}
