{
  "gui": {
    "background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wedit/settings/header.png",
			"fileBody": "/interface/wedit/settings/body.png",
			"fileFooter": "/interface/wedit/settings/footer.png"
		},
		"windowtitle": {
			"type": "title",
			"title": " WEdit",
			"subtitle": " ^#b9b5b2;Configure settings.",
			"icon": {
				"type": "image",
				"file": "/interface/wedit/settings/icon.png",
				"zlevel": -1
			}
		},

		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"callback": "close",
			"position": [234, 131]
    },
    
    // Header
    "bg": {
      "type": "image",
      "file": "/interface/wedit/settings/settingsBackground.png",
      "centered": false,
      "position": [1, 107],
      "visible": true
    },
    "labelHeader": {
      "type": "label",
      "position": [126, 140],
      "hAnchor": "mid",
      "vAnchor": "top",
      "zlevel": 1,
      "value": "^white;^shadow;You can configure settings for ^orange;WEdit ^white;here.\nSettings are applied instantly!\n^#61b3de;https://www.github.com/Silverfeelin/Starbound-WEdit"
    },

    // Body
    "containers": {
      "type": "image",
      "file": "/interface/wedit/settings/containers.png",
      "centered": false,
      "position": [4, 16],
      "visible": true
    },

    // Noclip
    "labelNoclip": {
      "type": "label",
      "position": [158, 96],
      "zlevel": 1,
      "value": "^white;^shadow;Noclip"
    },
    // Noclip: Bind
    "labelNoclipBind": {
      "type": "label",
      "position": [155, 84],
      "zlevel": 1,
      "value": "^white;^shadow;Bind:"
    },
    "imageNoclipBind": {
      "type": "image",
      "file": "/interface/wedit/settings/inputwide.png",
      "position": [176, 83],
      "zlevel": 1,
      "hAnchor": "mid",
      "visible": true
    },
    "noClipBind": {
      "type": "textbox",
      "position": [180, 85],
      "textAlign": "left",
      "hint": "",
      "value": "g",
      "zlevel": 20,
      "regex": ".{0,100}",
      "maxWidth": 56,
      "callback": "weditInterface.changeNoclipBind"
    },
    // Noclip: Speed
    "labelNoclipSpeed": {
      "type": "label",
      "position": [179, 70],
      "zlevel": 1,
      "value": "^white;^shadow;Speed:"
    },
    "imageNoclipSpeed": {
      "type": "image",
      "file": "/interface/wedit/settings/input.png",
      "position": [
        208,
        69
      ],
      "zlevel": 20,
      "hAnchor": "mid",
      "visible": true
    },
    "noClipSpeed": {
      "type": "textbox",
      "position": [212, 70],
      "textAlign": "left",
      "hint": "",
      "value": "0.75",
      "zlevel": 20,
      "regex": ".{0,100}",
      "maxWidth": 24,
      "callback": "weditInterface.changeNoclipSpeed"
    },
    // Schematics
    "labelSchematicss": {
      "type": "label",
      "position": [158, 31],
      "zlevel": 1,
      "value": "^white;^shadow;Schematics"
    },
    "labelClearSchematics": {
      "type": "label",
      "position": [155, 21],
      "zlevel": 1,
      "value": "^white;^shadow;Clear All:"
    },
    "clearSchematics": {
      "type": "button",
      "base": "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked": "/interface/crafting/checkboxcheck.png",
      "checkable": true,
      "checked": false,
      "callback": "weditInterface.changeClearSchematics",
      "position": [
        191,
        21
      ]
    },
    // Debug
    "labelDebug": {
      "type": "label",
      "position": [158, 55],
      "zlevel": 1,
      "value": "^white;^shadow;Debug"
    },
    "labelLineSpacing": {
      "type": "label",
      "position": [155, 45],
      "zlevel": 1,
      "value": "^white;^shadow;Line Height:"
    },
    "imageLineSpacing": {
      "type": "image",
      "file": "/interface/wedit/settings/input.png",
      "position": [203, 44],
      "zlevel": 1,
      "hAnchor": "mid",
      "visible": true
    },
    "lineSpacing": {
      "type": "textbox",
      "position": [207, 45],
      "textAlign": "left",
      "hint": "",
      "value": "1",
      "zlevel": 20,
      "regex": ".{0,100}",
      "maxWidth": 24,
      "callback": "weditInterface.changeLineSpacing"
    },

    // Brush
    "labelBrush": {
      "type": "label",
      "position": [12, 96],
      "value": "^white;^shadow;Brush"
    },
    // Brush: Shape
    "labelBrushShape": {
      "type": "label",
      "position": [17, 87],
      "value": "^white;^shadow;Shape"
    },
    "labelBrushSquare": {
      "type": "label",
      "position": [44, 77],
      "hAnchor": "right",
      "value": "^white;^shadow;Square:"
    },
    "labelBrushCircle": {
      "type": "label",
      "position": [44, 66],
      "hAnchor": "right",
      "value": "^white;^shadow;Circle:"
    },
    "brushShape": {
      "type": "radioGroup",
      "callback": "weditInterface.changeBrushShape",
      "position": [0, 0],
      "buttons": [
        {
          "baseImage": "/interface/crafting/checkboxnocheck.png",
          "hoverImage": "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked": "/interface/crafting/checkboxcheck.png",
          "hoverImageChecked": "/interface/crafting/checkboxcheck.png",
          "pressedOffset": [0, 0],
          "position": [46, 77],
          "selected": true,
          "data": "square"
        },
        {
          "baseImage": "/interface/crafting/checkboxnocheck.png",
          "hoverImage": "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked": "/interface/crafting/checkboxcheck.png",
          "hoverImageChecked": "/interface/crafting/checkboxcheck.png",
          "pressedOffset": [0, 0],
          "position": [46, 66],
          "data": "circle"
        }
      ]
    },
    // Brush: Size
    "labelBrushSize": {
      "type": "label",
      "position": [72, 87],
      "value": "^white;^shadow;Size/Radius"
    },
    "labelPencilSize": {
      "type": "label",
      "position": [101, 76],
      "hAnchor": "right",
      "value": "^white;^shadow;Pencil:"
    },
    "imagePencilSize": {
      "type": "image",
      "file": "/interface/wedit/settings/input.png",
      "position": [103, 75]
    },
    "pencilSize": {
      "type": "textbox",
      "position": [107, 76],
      "textAlign": "left",
      "hint": "",
      "value": "1",
      "regex": ".{0,2}",
      "maxWidth": 58,
      "callback": "weditInterface.changePencilSize",
      "zlevel": 20
    },
    "labelBlockSize": {
      "type": "label",
      "position": [101, 62],
      "hAnchor": "right",
      "value": "^white;^shadow;Block:"
    },
    "imageBlockSize": {
      "type": "image",
      "file": "/interface/wedit/settings/input.png",
      "position": [103, 61]
    },
    "blockSize": {
      "type": "textbox",
      "position": [107, 62],
      "textAlign": "left",
      "hint": "",
      "value": "1",
      "regex": ".{0,2}",
      "maxWidth": 58,
      "callback": "weditInterface.changeBlockSize",
      "zlevel": 20
    },
    "labelMatmodSize": {
      "type": "label",
      "position": [101, 48],
      "hAnchor": "right",
      "value": "^white;^shadow;MatMod:"
    },
    "imageMatmodSize": {
      "type": "image",
      "file": "/interface/wedit/settings/input.png",
      "position": [103, 47]
    },
    "matmodSize": {
      "type": "textbox",
      "position": [107, 48],
      "textAlign": "left",
      "hint": "",
      "value": "1",
      "regex": ".{0,2}",
      "maxWidth": 58,
      "callback": "weditInterface.changeMatmodSize",
      "zlevel": 20
    }
  },

  "scripts": ["/interface/wedit/settings/settings.lua"],
  "scriptDelta": 1,

  "scriptWidgetCallbacks": [
    "weditInterface.changeNoclipBind",
    "weditInterface.changeNoclipSpeed",
    "weditInterface.changeClearSchematics",
    "weditInterface.changeLineSpacing",
    "weditInterface.changeBrushShape",
    "weditInterface.changePencilSize",
    "weditInterface.changeBlockSize",
    "weditInterface.changeMatmodSize"
  ]
}