{
  "brush": {
    "shape": "square",
    "pencilSize": 1,
    "blockSize": 1,
    "modSize": 1
  },
  "noclip": {
    "enabled": true,
    "bind": "specialTwo",
    "speed": 0.75
  },
  "defaultConfig": {
    "description": "",
    "lineSpacing": 1,
    "brushShape": "square"
  },
  "breakMods": [
    "aegisalt", "coal", "copper", "corefragment", "crystal", "diamond",
    "durasteel", "erchius", "ferozium", "gold", "iron", "lead", "metal",
    "moonstone", "platinum", "plutonium", "prisilite", "silver", "solarium",
    "sulphur", "titanium", "trianglium", "tungsten", "uranium", "violium"
  ],
  "placeholder": "hazard"
}
