{
  "defaultConfig": {
    "delay": 15,
    "description": "",
    "doubleIterations": false,
    "clearSchematics": false,
    "lineSpacing": 1,
    "pencilSize": 1,
    "blockSize": 1,
    "matmodSize": 1,
    "brushShape": "square",
    "noclipBind": "g",
    "noclipSpeed": 0.75
  },
  "breakMods": [
    "aegisalt", "coal", "copper", "corefragment", "crystal", "diamond",
    "durasteel", "erchius", "ferozium", "gold", "iron", "lead", "metal",
    "moonstone", "platinum", "plutonium", "prisilite", "silver", "solarium",
    "sulphur", "titanium", "trianglium", "tungsten", "uranium", "violium"
  ]
}