{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wedit/matmodPicker/header.png",
			"fileBody": "/interface/wedit/matmodPicker/body.png",
			"fileFooter": "/interface/wedit/matmodPicker/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/wedit/matmodPicker/x.png",
			"hover": "/interface/wedit/matmodPicker/xred.png",
			"press": "/interface/wedit/matmodPicker/xred.png",
			"pressedOffset": [0, -1],
			"position": [139, 93]
		},
    "modScroll" : {
      "type" : "scrollArea",
      "rect" : [3, 3, 144, 89],
      "children" : {
        "a1" : {
          "type" : "image",
          "position" : [0, 0],
          "file" : "/assetMissing.png?crop;0;0;0;0"
        },
        "a2d" : {
          "type" : "image",
          "position" : [0, -217],
          "file" : "/assetMissing.png?crop;0;0;0;0"
        },
        "mods": {
    			"type": "radioGroup",
    			"toggleMode": false,
    			"callback": "pickMod",
    			"position": [0, 0],
    			"buttons": [
    				{
    					"baseImage": "/interface/wedit/matmodPicker/mods/aegisalt.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/aegisalt.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/aegisalt.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/aegisalt.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -19],
              "selected": true,
    					"data": "aegisalt"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/aliengrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/aliengrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/aliengrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/aliengrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -19],
    					"data": "aliengrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/alpinegrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/alpinegrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/alpinegrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/alpinegrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -19],
    					"data": "alpinegrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/aridgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/aridgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/aridgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/aridgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -19],
    					"data": "aridgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/ash.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/ash.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/ash.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/ash.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -19],
    					"data": "ash"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/blackash.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/blackash.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/blackash.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/blackash.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -19],
    					"data": "blackash"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/bone.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/bone.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/bone.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/bone.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -41],
    					"data": "bone"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/ceilingslimegrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/ceilingslimegrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/ceilingslimegrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/ceilingslimegrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -41],
    					"data": "ceilingslimegrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/ceilingsnow.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/ceilingsnow.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/ceilingsnow.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/ceilingsnow.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -41],
    					"data": "ceilingsnow"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/charredgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/charredgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/charredgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/charredgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -41],
    					"data": "charredgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/coal.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/coal.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/coal.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/coal.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -41],
    					"data": "coal"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/colourfulgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/colourfulgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/colourfulgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/colourfulgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -41],
    					"data": "colourfulgrass"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/copper.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/copper.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/copper.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/copper.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -63],
    					"data": "copper"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/corefragment.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/corefragment.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/corefragment.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/corefragment.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -63],
    					"data": "corefragment"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/crystal.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/crystal.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/crystal.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/crystal.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -63],
    					"data": "crystal"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/crystalgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/crystalgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/crystalgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/crystalgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -63],
    					"data": "crystalgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/diamond.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/diamond.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/diamond.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/diamond.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -63],
    					"data": "diamond"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/durasteel.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/durasteel.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/durasteel.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/durasteel.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -63],
    					"data": "durasteel"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/erchius.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/erchius.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/erchius.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/erchius.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -85],
    					"data": "erchius"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/ferozium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/ferozium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/ferozium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/ferozium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -85],
    					"data": "ferozium"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/fleshgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/fleshgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/fleshgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/fleshgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -85],
    					"data": "fleshgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/flowerygrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/flowerygrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/flowerygrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/flowerygrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -85],
    					"data": "flowerygrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/gold.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/gold.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/gold.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/gold.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -85],
    					"data": "gold"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/grass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/grass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/grass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/grass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -85],
    					"data": "grass"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/heckgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/heckgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/heckgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/heckgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -107],
    					"data": "heckgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/hiveceilinggrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/hiveceilinggrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/hiveceilinggrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/hiveceilinggrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -107],
    					"data": "hiveceilinggrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/hivegrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/hivegrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/hivegrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/hivegrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -107],
    					"data": "hivegrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/iron.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/iron.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/iron.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/iron.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -107],
    					"data": "iron"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/junglegrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/junglegrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/junglegrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/junglegrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -107],
    					"data": "junglegrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/lead.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/lead.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/lead.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/lead.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -107],
    					"data": "lead"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/metal.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/metal.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/metal.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/metal.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -129],
    					"data": "metal"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/meteordust.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/meteordust.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/meteordust.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/meteordust.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -129],
    					"data": "meteordust"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/moonstone.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/moonstone.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/moonstone.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/moonstone.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -129],
    					"data": "moonstone"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/moss.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/moss.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/moss.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/moss.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -129],
    					"data": "moss"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/platinum.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/platinum.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/platinum.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/platinum.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -129],
    					"data": "platinum"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/plutonium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/plutonium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/plutonium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/plutonium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -129],
    					"data": "plutonium"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/prisilite.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/prisilite.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/prisilite.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/prisilite.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -151],
    					"data": "prisilite"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/roots.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/roots.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/roots.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/roots.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -151],
    					"data": "roots"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/sand.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/sand.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/sand.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/sand.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -151],
    					"data": "sand"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/savannahgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/savannahgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/savannahgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/savannahgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -151],
    					"data": "savannahgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/silver.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/silver.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/silver.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/silver.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -151],
    					"data": "silver"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/slimegrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/slimegrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/slimegrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/slimegrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -151],
    					"data": "slimegrass"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/snow.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/snow.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/snow.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/snow.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -173],
    					"data": "snow"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/snowygrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/snowygrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/snowygrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/snowygrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -173],
    					"data": "snowygrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/solarium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/solarium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/solarium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/solarium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -173],
    					"data": "solarium"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/sulphur.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/sulphur.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/sulphur.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/sulphur.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -173],
    					"data": "sulphur"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/tar.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/tar.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/tar.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/tar.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -173],
    					"data": "tar"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/tarceiling.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/tarceiling.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/tarceiling.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/tarceiling.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -173],
    					"data": "tarceiling"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/tentaclegrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/tentaclegrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/tentaclegrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/tentaclegrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -195],
    					"data": "tentaclegrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/thickgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/thickgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/thickgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/thickgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -195],
    					"data": "thickgrass"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/tilled.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/tilled.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/tilled.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/tilled.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -195],
    					"data": "tilled"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/tilleddry.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/tilleddry.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/tilleddry.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/tilleddry.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -195],
    					"data": "tilleddry"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/titanium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/titanium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/titanium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/titanium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -195],
    					"data": "titanium"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/toxicgrass.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/toxicgrass.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/toxicgrass.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/toxicgrass.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -195],
    					"data": "toxicgrass"
    				},

            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/trianglium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/trianglium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/trianglium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/trianglium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [0, -217],
    					"data": "trianglium"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/tungsten.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/tungsten.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/tungsten.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/tungsten.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [22, -217],
    					"data": "tungsten"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/undergrowth.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/undergrowth.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/undergrowth.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/undergrowth.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [44, -217],
    					"data": "undergrowth"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/uranium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/uranium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/uranium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/uranium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [66, -217],
    					"data": "uranium"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/veingrowth.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/veingrowth.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/veingrowth.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/veingrowth.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [88, -217],
    					"data": "veingrowth"
    				},
            {
    					"baseImage": "/interface/wedit/matmodPicker/mods/violium.png",
    					"hoverImage": "/interface/wedit/matmodPicker/mods/violium.png?brightness=15",
    					"baseImageChecked": "/interface/wedit/matmodPicker/mods/violium.png?replace;474747FE=E1E11CFF",
    					"hoverImageChecked": "/interface/wedit/matmodPicker/mods/violium.png?replace;474747FE=E1E11CFF?brightness=15",
    					"pressedOffset": [0, -1],
    					"position": [110, -217],
    					"data": "violium"
    				}
    			]
    		}
      }
    }
  },

	"scriptWidgetCallbacks": [
    "pickMod"
  ],

	"scripts": ["/interface/wedit/matmodPicker/matmodPicker.lua"],
	"scriptDelta": 1
}