{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/wedit/dyePicker/header.png",
      "fileBody" : "/interface/wedit/dyePicker/body.png",
      "fileFooter" : "/interface/wedit/dyePicker/footer.png"
    },
    "eventCanvas" : {
      "zlevel" : 2,
      "type" : "canvas",
      "rect" : [5, 5, 163, 60],
      "visible" :  true,
      "captureMouseEvents" : true
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/wedit/dyePicker/x.png",
      "hover" : "/interface/wedit/dyePicker/xred.png",
      "press" : "/interface/wedit/dyePicker/xred.png",
      "pressedOffset": [0, -1],
      "position" : [163, 66]
    },
    "spectrumImage" : {
      "type" : "image",
      "file" : "/interface/easel/spectrumchart.png",
      "position": [5, 5],
      "visible" : true,
      "zlevel" : 1
    }
  },

  "canvasClickCallbacks" : {
    "eventCanvas" : "canvasClickEvent"
  },

  "scriptWidgetCallbacks" : [
  ],

  "scripts" : [ "/interface/wedit/dyePicker/dyePicker.lua" ],
  "scriptDelta" : 1
}
