{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wedit/materialPicker/header.png",
			"fileBody": "/interface/wedit/materialPicker/body.png",
			"fileFooter": "/interface/wedit/materialPicker/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/wedit/materialPicker/x.png",
			"hover": "/interface/wedit/materialPicker/xred.png",
			"press": "/interface/wedit/materialPicker/xred.png",
			"pressedOffset": [0, -1],
			"position": [227, 93]
		},
    "materialScroll" : {
      "type" : "scrollArea",
      "rect" : [3, 3, 232, 90],
      "children" : {
        "a1" : {
          "type" : "image",
          "position" : [0, 0],
          "file" : "/assetMissing.png?crop;0;0;0;0"
        },
        "a2" : {
          "type" : "image",
          "position" : [0, 0],
          "file" : "/assetMissing.png?crop;0;0;0;0"
        }
      }
    }
  },

	"scriptWidgetCallbacks": [
    "pickMaterial"
  ],

	"scripts": ["/interface/wedit/materialPicker/materialPicker.lua"],
	"scriptDelta": 1
}