{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/wedit/randomPicker/header.png",
      "fileBody": "/interface/wedit/randomPicker/body.png",
      "fileFooter": "/interface/wedit/randomPicker/footer.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/wedit/randomPicker/x.png",
      "hover": "/interface/wedit/randomPicker/xred.png",
      "press": "/interface/wedit/randomPicker/xred.png",
      "pressedOffset": [0, -1],
      "position": [134, 16]
    },
    "percentage": {
      "type": "slider",
      "callback": "pickPercentage",
      "range" : [0, 100, 1],
      "position": [3, 3],
      "gridImage": "/interface/optionsmenu/largeselection.png"
    },
    "lblValue": {
      "type": "label",
      "value": "VALUE",
      "position": [129, 7],
      "hAnchor": "mid",
      "vAnchor": "mid"
    }
  },

  "scriptWidgetCallbacks": [
    "pickPercentage"
  ],

  "scripts": ["/interface/wedit/randomPicker/randomPicker.lua"],
  "scriptDelta": 1
}
