{
  "gui": {
    "background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wedit/header.png",
			"fileBody": "/interface/wedit/body.png",
			"fileFooter": "/interface/wedit/footer.png"
		},
		"windowtitle": {
			"type": "title",
			"title": " WEdit",
			"subtitle": " ^#b9b5b2;Configure settings.",
			"icon": {
				"type": "image",
				"file": "/interface/wedit/icon.png",
				"zlevel": -1
			}
		},

		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"callback": "close",
			"position": [321, 226]
		},

    "weditScroll": {
      "type": "scrollArea",
      "zlevel": 41,
      "rect": [
        1,
        23,
        334,
        218
      ],
      "children": {
        "settingsAnchor": {
          "type": "image",
          "position": [
            0,
            0
          ],
          "file": "/assetMissing.png?crop;0;0;0;0",
          "visible": true
        },
        "bg": {
          "type": "image",
          "file": "/interface/wedit/settingsBackground.png",
          "centered": false,
          "position": [
            0,
            0
          ],
          "visible": true
        },
        "labelHeader": {
          "type": "label",
          "position": [
            167,
            33
          ],
          "hAnchor": "mid",
          "vAnchor": "top",
          "zlevel": 20,
          "value": "^white;^shadow;You can configure settings for ^orange;WEdit ^white;here.\nSettings are applied instantly!\n^#61b3de;http://www.GitHub.com/Silverfeelin/Starbound-WEdit"
        },
        "labelNoClipBind": {
          "type": "label",
          "position": [
            134,
            -13
          ],
          "hAnchor": "mid",
          "zlevel": 20,
          "value": "^white;^shadow;NoClip Bind:"
        },
        "imageNoClipBind": {
          "type": "image",
          "file": "/interface/wedit/inputwide.png",
          "position": [
            159,
            -14
          ],
          "zlevel": 20,
          "hAnchor": "mid",
          "visible": true
        },
        "noClipBind": {
          "type": "textbox",
          "position": [
            162,
            -13
          ],
          "textAlign": "left",
          "hint": "",
          "value": "specialTwo",
          "zlevel": 21,
          "regex": ".{0,100}",
          "maxWidth": 58,
          "callback": "weditInterface.changeNoClipBind"
        },
        "labelNoClipSpeed": {
          "type": "label",
          "position": [
            150,
            -27
          ],
          "hAnchor": "mid",
          "zlevel": 20,
          "value": "^white;^shadow;NoClip Speed:"
        },
        "imageNoClipSpeed": {
          "type": "image",
          "file": "/interface/wedit/input.png",
          "position": [
            179,
            -28
          ],
          "zlevel": 20,
          "hAnchor": "mid",
          "visible": true
        },
        "noClipSpeed": {
          "type": "textbox",
          "position": [
            182,
            -27
          ],
          "textAlign": "left",
          "hint": "",
          "value": "0.75",
          "zlevel": 21,
          "regex": ".{0,100}",
          "maxWidth": 26,
          "callback": "weditInterface.changeNoClipSpeed"
        },
        "labelDelay": {
          "type": "label",
          "position": [
            151,
            -48
          ],
          "hAnchor": "mid",
          "zlevel": 20,
          "value": "^white;^shadow;Iteration Delay:"
        },
        "imageDelay": {
          "type": "image",
          "file": "/interface/wedit/input.png",
          "position": [
            186,
            -49
          ],
          "zlevel": 20,
          "hAnchor": "mid",
          "visible": true
        },
        "delay": {
          "type": "textbox",
          "position": [
            189,
            -48
          ],
          "textAlign": "left",
          "hint": "",
          "value": "15",
          "zlevel": 21,
          "regex": ".{0,100}",
          "maxWidth": 26,
          "callback": "weditInterface.changeDelay"
        },
        "labelDoubleIterations": {
          "type": "label",
          "position": [
            162,
            -62
          ],
          "hAnchor": "mid",
          "zlevel": 20,
          "value": "^white;^shadow;Double Iterations:"
        },
        "doubleIterations": {
          "type": "button",
          "base": "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked": "/interface/crafting/checkboxcheck.png",
          "checkable": true,
          "checked": false,
          "callback": "weditInterface.changeDoubleIterations",
          "position": [
            202,
            -62
          ]
        },
        "labelClearSchematicss": {
          "type": "label",
          "position": [
            164,
            -81
          ],
          "hAnchor": "mid",
          "zlevel": 20,
          "value": "^white;^shadow;Clear All Schematics:"
        },
        "clearSchematics": {
          "type": "button",
          "base": "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked": "/interface/crafting/checkboxcheck.png",
          "checkable": true,
          "checked": false,
          "callback": "weditInterface.changeClearSchematics",
          "position": [
            207,
            -81
          ]
        },
        "labelLineSpacing": {
          "type": "label",
          "position": [
            150,
            -101
          ],
          "hAnchor": "mid",
          "zlevel": 20,
          "value": "^white;^shadow;Debug Line Spacing:"
        },
        "imageLineSpacing": {
          "type": "image",
          "file": "/interface/wedit/input.png",
          "position": [
            192,
            -102
          ],
          "zlevel": 20,
          "hAnchor": "mid",
          "visible": true
        },
        "lineSpacing": {
          "type": "textbox",
          "position": [
            195,
            -101
          ],
          "textAlign": "left",
          "hint": "",
          "value": "1",
          "zlevel": 21,
          "regex": ".{0,100}",
          "maxWidth": 26,
          "callback": "weditInterface.changeLineSpacing"
        },
        "labelBrushShape": {
          "type": "label",
          "position": [
            162,
            -121
          ],
          "hAnchor": "mid",
          "value": "^white;^shadow;Brush Shape"
        },
        "labelBrushSquare": {
          "type": "label",
          "position": [
            137,
            -135
          ],
          "hAnchor": "mid",
          "value": "^white;^shadow;Square:"
        },
        "labelBrushCircle": {
          "type": "label",
          "position": [
            180,
            -135
          ],
          "hAnchor": "mid",
          "value": "^white;^shadow;Circle:"
        },
        "brushShape": {
          "type": "radioGroup",
          "callback": "weditInterface.changeBrushShape",
          "position": [
            154,
            -135
          ],
          "buttons": [
            {
              "baseImage": "/interface/crafting/checkboxnocheck.png",
              "hoverImage": "/interface/crafting/checkboxnocheck.png",
              "baseImageChecked": "/interface/crafting/checkboxcheck.png",
              "hoverImageChecked": "/interface/crafting/checkboxcheck.png",
              "pressedOffset": [
                0,
                0
              ],
              "position": [
                0,
                0
              ],
              "selected": true,
              "data": "square"
            },
            {
              "baseImage": "/interface/crafting/checkboxnocheck.png",
              "hoverImage": "/interface/crafting/checkboxnocheck.png",
              "baseImageChecked": "/interface/crafting/checkboxcheck.png",
              "hoverImageChecked": "/interface/crafting/checkboxcheck.png",
              "pressedOffset": [
                0,
                0
              ],
              "position": [
                40,
                0
              ],
              "data": "circle"
            }
          ]
        },
        "labelPencilSize": {
          "type": "label",
          "position": [
            144,
            -149
          ],
          "hAnchor": "mid",
          "value": "^white;^shadow;Pencil Size/Radius:"
        },
        "imagePencilSize": {
          "type": "image",
          "file": "/interface/wedit/input.png",
          "position": [
            185,
            -150
          ],
          "hAnchor": "mid",
          "visible": true
        },
        "pencilSize": {
          "type": "textbox",
          "position": [
            188,
            -149
          ],
          "textAlign": "left",
          "hint": "",
          "value": "1",
          "regex": ".{0,2}",
          "maxWidth": 58,
          "callback": "weditInterface.changePencilSize"
        },
        "labelBlockSize": {
          "type": "label",
          "position": [
            144,
            -163
          ],
          "hAnchor": "mid",
          "value": "^white;^shadow;Block Size/Radius:"
        },
        "imageBlockSize": {
          "type": "image",
          "file": "/interface/wedit/input.png",
          "position": [
            184,
            -164
          ],
          "hAnchor": "mid",
          "visible": true
        },
        "blockSize": {
          "type": "textbox",
          "position": [
            187,
            -163
          ],
          "textAlign": "left",
          "hint": "",
          "value": "1",
          "regex": ".{0,2}",
          "maxWidth": 58,
          "callback": "weditInterface.changeBlockSize"
        },
        "labelMatmodSize": {
          "type": "label",
          "position": [
            144,
            -177
          ],
          "hAnchor": "mid",
          "value": "^white;^shadow;MatMod Size/Radius:"
        },
        "imageMatmodSize": {
          "type": "image",
          "file": "/interface/wedit/input.png",
          "position": [
            189,
            -178
          ],
          "hAnchor": "mid",
          "visible": true
        },
        "matmodSize": {
          "type": "textbox",
          "position": [
            192,
            -177
          ],
          "textAlign": "left",
          "hint": "",
          "value": "1",
          "regex": ".{0,2}",
          "maxWidth": 58,
          "callback": "weditInterface.changeMatmodSize"
        }
      }
    }
  },

  "scripts": ["/interface/wedit/settings.lua"],
  "scriptDelta": 1,

  "scriptWidgetCallbacks": [
    "weditInterface.changeNoClipBind",
    "weditInterface.changeNoClipSpeed",
    "weditInterface.changeDelay",
    "weditInterface.changeDoubleIterations",
    "weditInterface.changeClearSchematics",
    "weditInterface.changeLineSpacing",
    "weditInterface.changeBrushShape",
    "weditInterface.changePencilSize",
    "weditInterface.changeBlockSize",
    "weditInterface.changeMatmodSize"
  ]
}
