{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wedit/liquidPicker/header.png",
			"fileBody": "/interface/wedit/liquidPicker/body.png",
			"fileFooter": "/interface/wedit/liquidPicker/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/wedit/liquidPicker/x.png",
			"hover": "/interface/wedit/liquidPicker/xred.png",
			"press": "/interface/wedit/liquidPicker/xred.png",
			"pressedOffset": [0, -1],
			"position": [111, 83]
		},
    "liquidScroll" : {
      "type" : "scrollArea",
      "rect" : [3, 3, 116, 80],
      "children" : {
        "a1" : {
          "type" : "image",
          "position" : [0, 0],
          "file" : "/assetMissing.png?crop;0;0;0;0"
        },
        "a2" : {
          "type" : "image",
          "position" : [0, 0],
          "file" : "/assetMissing.png?crop;0;0;0;0"
        }
      }
    }
  },

	"scriptWidgetCallbacks": [
    "pickLiquid"
  ],

	"scripts": ["/interface/wedit/liquidPicker/liquidPicker.lua"],
	"scriptDelta": 1
}