{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/wedit/huePicker/header.png",
      "fileBody": "/interface/wedit/huePicker/body.png",
      "fileFooter": "/interface/wedit/huePicker/footer.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/wedit/huePicker/x.png",
      "hover": "/interface/wedit/huePicker/xred.png",
      "press": "/interface/wedit/huePicker/xred.png",
      "pressedOffset": [0, -1],
      "position": [134, 35]
    },
    "hue": {
      "type": "slider",
      "callback": "pickHue",
      "range" : [0, 359, 1],
      "position": [3, 22],
      "gridImage": "/interface/optionsmenu/largeselection.png"
    },
    "lblValue": {
      "type": "label",
      "value": "VALUE",
      "position": [129, 26],
      "hAnchor": "mid",
      "vAnchor": "mid"
    },
    "imgPreview": {
      "type": "image",
      "file": "/interface/wedit/huePicker/preview.png",
      "data": "/interface/wedit/huePicker/preview.png",
      "position": [1, 0]
    }
  },

  "scriptWidgetCallbacks": [
    "pickHue"
  ],

  "scripts": ["/interface/wedit/huePicker/huePicker.lua"],
  "scriptDelta": 1
}
