{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/wedit/compact/header.png",
      "fileBody" : "/interface/wedit/compact/body.png",
      "fileFooter" : "/interface/wedit/compact/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/wedit/compact/x.png",
      "hover" : "/interface/wedit/compact/xred.png",
      "press" : "/interface/wedit/compact/xred.png",
      "pressedOffset": [0, -1],
      "position" : [197, 49]
    },
    "data" : {
      "type" : "image",
      "image" : "/assetMissing.png",
      "visible" : false
    },
    "action": {
      "type": "radioGroup",
      "toggleMode": false,
      "callback": "actionSelected",
      "position": [
        0,
        -22
      ],
      "zlevel": 2,
      "buttons": [
        {
          "baseImage": "/interface/wedit/compact/actions/cursor.png",
          "hoverImage": "/interface/wedit/compact/actions/cursor.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/cursorSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/cursorSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [3, 47],
          "selected": true,
          "data": "WE_Select"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/ruler.png",
          "hoverImage": "/interface/wedit/compact/actions/ruler.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/rulerSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/rulerSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [25, 47],
          "data": "WE_Ruler"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/colorpicker.png",
          "hoverImage": "/interface/wedit/compact/actions/colorpicker.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/colorpickerSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/colorpickerSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [47, 47],
          "data": "WE_ColorPicker"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/blockpinner.png",
          "hoverImage": "/interface/wedit/compact/actions/blockpinner.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/blockpinnerSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/blockpinnerSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [69, 47],
          "data": "WE_BlockPinner"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/modpinner.png",
          "hoverImage": "/interface/wedit/compact/actions/modpinner.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/modpinnerSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/modpinnerSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [91, 47],
          "data": "WE_ModPinner"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/dye.png",
          "hoverImage": "/interface/wedit/compact/actions/dye.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/dyeSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/dyeSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [113, 47],
          "data": "WE_Dye"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/modifier.png",
          "hoverImage": "/interface/wedit/compact/actions/modifier.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/modifierSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/modifierSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [135, 47],
          "data": "WE_Modifier"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/hydrator.png",
          "hoverImage": "/interface/wedit/compact/actions/hydrator.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/hydratorSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/hydratorSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [157, 47],
          "data": "WE_Hydrator"
        },





        {
          "baseImage": "/interface/wedit/compact/actions/pencil.png",
          "hoverImage": "/interface/wedit/compact/actions/pencil.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/pencilSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/pencilSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [3, 25],
          "data": "WE_Pencil"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/fill.png",
          "hoverImage": "/interface/wedit/compact/actions/fill.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/fillSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/fillSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [25, 25],
          "data": "WE_Fill"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/eraser.png",
          "hoverImage": "/interface/wedit/compact/actions/eraser.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/eraserSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/eraserSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [47, 25],
          "data": "WE_Erase"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/replace.png",
          "hoverImage": "/interface/wedit/compact/actions/replace.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/replaceSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/replaceSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [69, 25],
          "data": "WE_Replace"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/stamp.png",
          "hoverImage": "/interface/wedit/compact/actions/stamp.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/stampSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/stampSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [91, 25],
          "data": "WE_Stamp"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/schematicmaker.png",
          "hoverImage": "/interface/wedit/compact/actions/schematicmaker.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/schematicmakerSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/schematicmakerSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [113, 25],
          "data": "WE_SchematicMaker"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/flip.png",
          "hoverImage": "/interface/wedit/compact/actions/flip.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/flipSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/flipSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [135, 25],
          "data": "WE_Flip"
        },
        {
          "baseImage": "/interface/wedit/compact/actions/undo.png",
          "hoverImage": "/interface/wedit/compact/actions/undo.png?brightness=30",
          "baseImageChecked": "/interface/wedit/compact/actions/undoSelected.png",
          "hoverImageChecked": "/interface/wedit/compact/actions/undoSelected.png?brightness=30",
          "pressedOffset": [0, -1],
          "position": [157, 25],
          "data": "WE_Undo"
        }
      ]
    },
    "toggleInfo": {
      "type": "button",
      "base": "/interface/wedit/compact/infoselected.png",
      "hover": "/interface/wedit/compact/infoselected.png?brightness=15",
      "pressedOffset": [0, -1],
      "position": [179, 25],
      "zlevel": 2,
      "data": true,
      "callback": "toggleInfo"
    }
  },

  "scripts" : [
    "/interface/wedit/compact/compact.lua"
  ],
  "scriptDelta" : 60,
  "scriptWidgetCallbacks" : [
    "actionSelected",
    "toggleInfo"
  ]
}
